/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/



/*******************************************************************************
Theme Styles
*******************************************************************************/
#test{
width: 700px;
margin: 0 auto;
padding: 1em;
border-style: none;
color: #000;
border: 0;
font-size: 120%;
font-style: normal;
font-family: 'pirata one', serif;
margin: 0;
padding: 10%;
text-decoration: none;
text-transform: none;
vertical-align: baseline;
}

h1 {
  color: #00001;
  font-family :'pirata one', serif;
  font-size: 100px;
  font-weight: normal;
  line-height: 100px;
  margin: 0 0 50px;
  text-align: center;
  text-shadow: 1px 1px 2px #082b34;
}

.figleft{
float: left;
clear: left;
margin-left: 0;
margin-bottom: 0em;
margin-top: 0em;
margin-right: 1em;
padding: 0;
text-align: center;
}









